SQLALCHEMY_DATABASE_URI="mysql+pymysql://root:password@localhost:3306/database_name?charset=utf8mb4"
SECRET_KEY=""
JWT_SECRET_KEY=""
JWT_ACCESS_TOKEN_EXPIRES=1800
JWT_REFRESH_TOKEN_EXPIRES=604800
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
VNP_TMNCODE=""
VNP_SECRET_KEY=""
VNPAY_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
VNP_RETURN_URL="http://127.0.0.1:5000/transaction/payment_return"