{%extends 'layout/base.html'%}

{%block title%}Trang chủ{%endblock%}

{%block body%}
<div>
    <div class="position-relative">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="height: 70vh; min-height: 70%;">
                <div class="carousel-item active"> 
                    <!-- nhớ banner của hệ thống ở đây nha-->
                    <img src="https://i.pinimg.com/1200x/2c/8e/a0/2c8ea057c81d25ca92929fccb8f86058.jpg" alt="" class="d-block w-100 object-fit-fill ">
                </div>
                {% for f in hot_fields%}
                <div class="carousel-item">
                    <img src="{{f.image}}" alt="{{f.name}}" class="d-block w-100 object-fit-fill ">
                </div>
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>


        <form  action="{{url_for('field.fields', field_type_id= request.args.get('field_type_id',''), 
                        province_id= request.args.get('province_id',''),
                        district_id = request.args.get('district_id',''))}}" 

            class="container position-absolute start-50 translate-middle shadow-lg p-5 border d-block"
            style="background-color: var(--white); width: 80%; border-radius: 2rem;">
            
            <h3 class="mb-3 fw-bolder" style="color: var(--blue);">Đặt sân thể thao ngay</h3>
            <h5 class="mb-3" style="color: var(--gray);">Tìm kiếm sân chơi thể thao, thi đấu khắp cả nước</h5>

            <div class="row">
                <div class="col-md-3 col-12 mb-3">
                    <div class="input-group">
                        <span class="input-group-text p-3">
                            <i class="fa-solid fa-futbol"></i>
                        </span>
                        <select class="form-select overflow-auto" name="field_type_id">
                            <option value="">Chọn loại sân</option>
                            {% for ft in field_types %}
                                <option value="{{ft.id}}">{{ft.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-12 mb-3">
                    <div class="input-group">
                        <span class="input-group-text p-3">
                            <i class="fa-regular fa-building"></i>
                        </span>
                        <select class="form-select" id="citySearch" name="province_id">
                            <option value="">Chọn Tỉnh/thành phố</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-12 mb-3">
                    <div class="input-group">
                        <span class="input-group-text p-3">
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <select class="form-select" id="districtsSearch" name="district_id">
                            <option value="" >Chọn Quận/Huyện</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-12 mb-3 d-flex">
                    <button 
                        type="submit"
                        class="btn w-100 fw-bolder"
                        style="background-color: var(--orange); color: var(--white);">
                        <i class="fa-solid fa-magnifying-glass"></i> Tìm sân ngay
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div style="margin-top: 200px; background-color: var(--gray-light);" class="p-5">
        <div class="container">
            <h2 class="mb-3 fw-bolder text-center" style="color: var(--blue);">Sân thể thao ưa chuộng</h2>
            <div class="w-25 d-block mx-auto mb-5"
                style="background-color: var(--gray); height: 5px;">
            </div>
            <div class="row">
                {% if not hot_fields %}
                    <div>
                        <h2 class="text-center" style="color: var(--gray);">Không có sân phù hợp</h2>
                    </div>
                {% endif %}
                {% for f in hot_fields %}
                <div class="col-lg-4 col-md-6 col-12 mb-5">
                    <div class="card border shadow-lg rounded h-100">
                        <img class="card-img-top fixed-img" src={% if f.image %} {{f.image}} {% else %}"https://i.pinimg.com/1200x/69/bf/f5/69bff57dd7df19bf4d8a8304ac0e567b.jpg" {%endif%} alt="Sân 2">
                        <div class="card-body">
                            <div>
                                <h5 class="fw-bold mb-2">{{ f.name }}</h5>

                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa-solid fa-star text-warning me-2"></i>
                                    <span>4.5 (120 đánh giá)</span>
                                </div>

                                <div class="d-flex align-items-center mb-3">
                                    <i class="fa-solid fa-location-dot text-danger me-2"></i>
                                    <span>{{ f.location.name }}</span>
                                </div>
                            </div>
                            <a href="{{url_for('field.field_detail', field_id = f.id)}}" class="btn w-100" style="background-color: var(--orange); color: var(--white);">Xem sân</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>

    <div class="p-5" style="background-color: var(--orange);">
        <div class="text-center">
            <h2 class="fw-bolder mb-3" style="color: var(--white);"> Sẵn Sàng Ra Sân Chưa?</h2>
            <p class="mb-4">Tạo tài khoản miễn phí — đặt sân đầu tiên tặng ngay voucher</p>
        </div>
        <div class="d-flex gap-3 justify-content-center flex-wrap">
            <a href="{{ url_for('auth.register') }}" class="fw-bolder p-3 text-decoration-none"
            style="background: var(--white); color:var(--orange); border-radius:8px">Đăng ký ngay</a>

            <a href="{{ url_for('field.fields') }}" class="fw-bolder p-3 text-decoration-none"
            style="background-color: var(--blue); color: var(--white);border-radius:8px;">Xem sân trước</a>
        </div>
    </div>

    <div class="container-fluid py-5" style="background-color: var(--gray-light);">
        <div class="container">
            <h2 class="text-center fw-bold mb-5" style="color: var(--orange);">Trải nghiệm người dùng</h2>
            <div class="row g-4 text-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://res.cloudinary.com/dvfuzolim/image/upload/v1766313786/415260363a799b233a2f45746f850923_olgzsg.jpg" class="rounded-circle mb-2">
                            <h5>Văn Trung Thành</h5>
                            <p class="p-2 fst-italic">"Tôi đã có những trãi nghiệm tuyệt vời cùng bạn bè nhờ website"</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                        <img src="https://res.cloudinary.com/dvfuzolim/image/upload/v1766313708/35b95d705b93dd29081ebff4ed2d02bb_s75mh0.jpg" class="rounded-circle mb-2">
                            <h5>Lê Thị Mai Hồng</h5>
                            <p class="p-2 fst-italic">"Nhờ đến hệ thống mà tôi được biết đến nhiều sân ở gần mình"</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://res.cloudinary.com/dvfuzolim/image/upload/v1766313786/415260363a799b233a2f45746f850923_olgzsg.jpg" class="rounded-circle mb-2">
                            <h5>Nguyễn Thanh Phong</h5>
                            <p class="p-2 fst-italic">"Nhờ đến hệ thống mà tôi được biết đến nhiều sân ở gần mình"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
    getCity(null)

    const cityDropdown = document.getElementById("citySearch")
    if (cityDropdown) {
        cityDropdown.addEventListener("change", function () {
            const cityCode = this.value
            if (!cityCode) {
                document.getElementById("districtsSearch").innerHTML = '<option value="">Chọn Quận/Huyện</option>'
                return
            }
            getDistrict(cityCode, null)
        });
    }
});
</script>

{%endblock%}